body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 12px;
    background: blue;
    color: white;
    border: none;
}

.book-card {
    background: white;
    padding: 10px;
    margin: 10px 0;
}
